@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --sidebar: #D2DED8;
    --main-bg: #FBFBFB;
    --accent: #143E47;
    --default-font: 'Raleway';
    --day: #CE6B02;
    --imp: #A93436;
    --input-bg: #FFFFFF;
    --input-text: #333333;
    --task-input-bg: #7CD4D0;
    --no-tasks-text: gray;
    --selected-bg: #F6FFE1;
    --border-color: transparent;
    --task-bg:#F9FBFA;
    --task-text:#909391;
    --high:#C37E90;
    --low:#97C2AF;
    --medium:#F1DDA2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    font-family: var(--default-font);
    color: var(--accent);
}

.sidebar {
    background-color: var(--sidebar);
    display: grid;
    grid-template-rows: 0.75fr 1fr 1.5fr 0.5fr;
    overflow: hidden;
}

.logo-container {
    padding: 0.625rem;
    justify-self: center;
}

.project {
    box-sizing: border-box;
    padding: 0.625rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    cursor: pointer;
    border-radius: 0.625rem;
    border: 2px solid transparent;
    transition: border 0.2s ease;

}

.project:hover {
    box-sizing: border-box;
    border: 2px var(--accent) solid;
}

#projects-container{
    padding: .5rem;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.user-project{
    font-size: 1rem;
    height: 1.5rem;
    gap: 1.25rem;
    padding: 1rem;
    align-items: center;
}

.selected{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: var(--selected-bg);

}


.main {
    background-color: var(--main-bg);
    background-image: url('rocks.svg');
    background-position-y: bottom;
    background-position-x: right;
    background-repeat: no-repeat;
    background-size: 130%;
    display: flex;
    flex-direction: column;
    padding: 1.875rem;
    padding-top: 3rem;
}

.day-imp-container {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    padding: 1.25rem;
}

.day-icon {
    font-size: 2.5rem;
    color: var(--day);
}
.project-icon {
    font-size: 1.5rem;
    color: var(--accent);
}

.imp-icon {
    font-size: 2.5rem;
    color: var(--imp);
}

.new-project {
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit {
    background-color: var(--accent);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    cursor: pointer;
    transition: box-shadow 0.3s ease; 
}

.submit:hover {
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
}

#new-project-input {
    font-family: 'Roboto', sans-serif;
    color: var(--input-text);
    font-size: 1.25rem;
    margin: 0 auto;
    padding: 0.625rem;
    border-radius: 0.2rem;
    background-color: var(--input-bg);
    border: none;
    width: 90%;
    display: block;
    border-bottom: 0.3rem solid var(--border-color);
}

.input-container {
    height: 3.125rem;
}

.add-icon {
    font-size: 2.5rem;
    color: var(--main-bg);
}

.add-tasks-container {
    display: flex;
    background-color: var(--task-input-bg);
    height: 4.6875rem;
    border-radius: 0.625rem;
    padding: 0.9375rem;
}

.task-input {
    font-family: 'Roboto', sans-serif;
    color: var(--input-text);
    font-size: 1rem;
    margin: 0 auto;
    padding: 0.625rem;
    border-radius: 0.2rem;
    background-color: var(--input-bg);
    border: none;
    width: 25%;
    display: block;
    border-bottom: 0.3rem solid var(--border-color);
}

#task-priority-input {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    margin: 0 auto;
    padding: 0.625rem;
    border-radius: 0.2rem;
    background-color: var(--input-bg);
    border: none;
    width: 25%;
    display: block;
    border-bottom: 0.3rem solid var(--border-color);
    cursor: pointer;
}

.no-tasks {
    padding-top: 9.375rem;
    padding-left: 6.25rem;
    display: flex;
    height: 100%;
    align-items: center;
    font-size: 2.8rem;
    font-weight: 300;
    color: var(--no-tasks-text);
}

.task-card{
    display: flex;
    background-color: var(--task-bg);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 4.6875rem;
    border-radius: 0.625rem;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    color: var(--task-text);
    font-weight: 100;
    max-width: 100%;


}

.check-box{
    display:flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    border-radius: 100%;
    border: 1px  var(--accent) solid;
    height: 100%;
}

.unchecked-icon{
    font-size: 2rem;
    color: var(--accent);
}

i{
    user-select: none;
}

.task-options{
    display: flex;
    gap:5px;
}

.option-icon{
    color: var(--task-text);
    cursor: pointer;

}



.high{
    border-left: 10px var(--high) solid;
}
.medium{
    border-left: 10px var(--medium) solid;
}
.low{
    border-left: 10px var(--low) solid;
}

.task-text{
    font-weight: 400;
}

#tasks-container{
    padding-top: 1.25rem;
    display: flex;
    flex-direction: column;
    gap:10px;
}